{% from "_formhelper.html" import render_field %}
{% extends "layout.html" %}
{% block body %}
<h1>Registration</h1>
<form method=post action="/register">
<table>
    {{ render_field(form.first_name,true) }}
    {{ render_field(form.last_name,true) }}

    {{ render_field(form.phone,true) }}
    {{ render_field(form.gender) }}
	
    {{ render_field(form.first_child.c_name,true) }}
    {{ render_field(form.first_child.c_birth_day,true) }}
    {{ render_field(form.first_child.c_gender)}}
 
    {{ render_field(form.second_child.c_name) }}
    {{ render_field(form.second_child.c_birth_day) }}
    {{ render_field(form.second_child.c_gender)}}
    
    {{ render_field(form.third_child.c_name) }}
    {{ render_field(form.third_child.c_birth_day) }}
    {{ render_field(form.third_child.c_gender)}}

<tr>
  <th><p><input type=submit value=Register></th>
   <th><p><input type=submit value=clear action="/register" ></th>
</tr>
</table>
</form>
{% endblock %}