{% from "_formhelper.html" import render_field %}
{% extends "layout.html" %}
{% block body %}
<h1>Registration</h1>
<form method=post action="/register">
<table>
    {{ render_field(form.first_name) }}
    {{ render_field(form.last_name) }}
    {{ render_field(form.phone) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    {{ render_field(form.email) }}
    {{ render_field(form.qq) }}
    {{ render_field(form.gender) }}
	
    {{ render_field(form.first_child.c_name) }}
    {{ render_field(form.first_child.c_birth_day) }}
    {{ render_field(form.first_child.c_gender)}}
 
    {{ render_field(form.second_child.c_name) }}
    {{ render_field(form.second_child.c_birth_day) }}
    {{ render_field(form.second_child.c_gender)}}
    
    {{ render_field(form.third_child.c_name) }}
    {{ render_field(form.third_child.c_birth_day) }}
    {{ render_field(form.third_child.c_gender)}}


	
<tr>
  <th><p><input type=submit value=Register></th>
   <th><p><input type=submit value=addmorechild></th>
</tr>
</table>
</form>
{% endblock %}